

<section id="uno">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="usr">Nombre</label>
          <input type="text" [(ngModel)]='datos.nombre' class="form-control">
        </div>
        <div class="form-group">
          <label for="usr">Apellido</label>
          <input type="text" [(ngModel)]='datos.apellido' class="form-control">
        </div>
        <div class="form-group">
          <label for="usr">Edad</label>
          <input type="text" [(ngModel)]='datos.edad' class="form-control">
        </div>
        <div class="form-group">
          <label for="usr">Documento</label>
          <input type="text" [(ngModel)]='datos.documento' class="form-control">
        </div>
      </div>
      <div class="col-6">
        <app-hijo [propiedadhijo]="datos"></app-hijo>
      </div>
      <button type="button" (click)='eventoBoton()' class="btn btn-primary btn-block">Evento Angular</button>
    </div>
  </div>
</section>
  contenido seccion 2
<section id="dos">

</section>
  contenido seccion 3
<section id="tres"></section>